.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    z-index: 100;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.footer-content *{
    display: block;
    margin: 4px;
}

.footer-content a{
    color: white;
    text-decoration: none;
}

.footer-content a:hover{
    color: #4CAF50;
}